body {
    background: #fdfdfd;
}

.posts button {
    float: right;
}

main {
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

[data-post-id] span.fa {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1.4rem;
}

#add-post-form {
    display: none;
}

#add-post-form.active {
    display: block;
}